/*
PALETA DE COLORES
#035AA6
#50C4F2
#F2CB05
#BFB169
#0D0D0D
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: whitesmoke;
    display: grid;
    place-items: center center;
}

html{
    scroll-behavior: smooth;
}

p{
    padding-top: 30px;
    font-size: 20px;
}

h2{
    font-size: 27px;
}

.color-acento{ color:#BFB169; }

.hero{
    width: 100%;
    height: 98vh;
    background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    align-items: center;
    justify-content: center;
}

/*MENU*/

nav{
    background-color: transparent;
    height: 80px;
    width: 100%;
}

img.logo{
    width: 150px;
    margin: 0 20px;;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 95px;
    margin: 0 25px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    border-radius: 3px;
    text-decoration: none;
}

a.active, a:hover{
    background-color: #50C4F2;
    transition: .5s;
    padding: 10px;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){

    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }

}/* fin media*/

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #0D0D0D;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        color: white;
    }
    a:hover, a.active{
        background: none;
        color: #50C4F2;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

.content{
    text-align: center;
}

.content h1{
    font-size: 70px;
    color: white;
    transition: 0.5s;
    padding-top: 20%;
}

.content h1:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.content a , .cards a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 10px 50px;
    border-radius: 50px;
    margin-top: 20px;
    z-index: 1;
}

.content a:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* -----------------------------------------------A 2 KILOMETOS--------------------------------------- */
.somos .container {
    text-align: center;
    padding: 100px 12px;
}

@media (min-width: 850px){

    .somos .container{
        display: flex;
        justify-content: space-evenly;
    }
  
    .somos .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  
    .somos h2{
        margin-top: 0px;
    }
  
    .somos .img-container{
        background-image: url("/img/somos.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }
  }

@media (max-aspect-ratio: 16/9) {
    
    .back-video{
        width: auto;
        height: 100%;
    }
}

/* -----------------------------------------Cartas---------------------------------------------------------- */

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    padding: 20px;
    grid-gap: 40px;
}

.contenedor{
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.contenedor img{
    width: 100%;
    height: 20%;
    display: block;
    border-radius: 20px 20px 0 0;
}

.contenedor:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}

.card1, .card2, .card3{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}

.card1>.contenedor:after{
    background-image: linear-gradient(135deg, #0100ec, #fb36f4);
}

.card2>.contenedor:after{
    background-image: linear-gradient(135deg, #2bdce3, #42ffdb);
}

.card3>.contenedor:after{
    background-image: linear-gradient(135deg, #ffab1d, #f8501c);
}

.detalis{
    padding: 20px 10px;
}

.detalis>h3{
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.detalis>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

.buttom-cards a{
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 24px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 50px;
    border-radius: 50px;
    margin-top: 20px;
    text-align: center;
}

.buttom-cards a:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}

/* Alojamiento ***************************************************************************************************************** */

.somos .img-content{
    background-image: url("/img/bedroom.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px; 
}


/* disfrute------------------------------------------------- */

.disfrute{
	background: url("../img/background.jpg");
	height: 500px;
	background-size: cover;
	width: 100%;
	margin-top: 25px;
	margin-bottom:120px; 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .disfrute:before{
	content: "";
	width: 100%;
	height: 500px;
	position: absolute;
	background-color: lightblue;
	opacity: .4;
} */

.disfrute h1{
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
	display: flex;
	justify-content: center;
	z-index: 1;
	font-size: 50px;
	text-align: center;
}
.especial{
	animation: latido 1s infinite;

}

@keyframes latido {
  0%
  {
    transform: scale( 1 ) ;   
  }
  20%
  {
    transform: scale( 1.15 );
  }

}

/* footer***************************************************************************************************************** */

.footer-bottom{
    background-color: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    color: #fff;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: uppercase;
}














